sampleXSD.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="device">
    <xs:complexType>
      <xs:sequence>
	<xs:element name="name" type="xs:string"/>
	<xs:element name="interface" type="xs:string"/>
	<xs:sequence>
	  <xs:element name="matchKey" type="xs:string" maxOccurs="20"/>
	</xs:sequence>
	<xs:element name="maxDisplacement" type="xs:string"/>
	<xs:element name="buttonCount" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>